<div class="main-container">
    <%= render 'shared/header'%>
    <ul class="users">
        <% @users.each do |user| %>
            <%= render partial: 'shared/user', locals: { user: user } %>
        <% end %>
    </ul>
 </div>

