<ul class="user comment">
<% if post.comments.any? %>
    <% post.comments.each do |comment| %>
    <li class="content-comment">
        <p class="content-comment"><%= User.find(comment.author_id).name %>:<%= comment.text %></p>
    </li>
    <% end %>
    <% else %>
    <h3 class="no-comments">No hay comentarios</h3>

  
<% end %>
</ul>