<div class="main-container">
    <div class="show-container">
        <%= render partial: 'shared/user', locals: { user: @user } %>
        <button class="add-comment"><%= link_to 'Create new post', new_user_post_path, class:'comment-btn'%></button>
        <%= render partial: 'shared/user_posts', locals: { posts: @user.posts, ren: 0 } %>
    </div>
</div>



